
*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 3s;
}
html{
    font-size: large;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
header{
    position: fixed;
    left:0; right:0;
    background: #145F8B;
    padding: 23px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: xx-large;
    color: antiquewhite;
    font-weight: bolder;
}
.navbar {
    display: flex;
}
.navbar a{
    font-size: large; 
    margin-left: 60px;
    color: antiquewhite;
    font-weight: 600;
    padding: 6px;
}
.navbar a:hover{
    text-decoration: underline; /* Button background color on hover */
}
.search input[type="text"]{
    padding: 9px; /* Padding for better appearance */
    border: 1px solid #ccc; /* Border style */
    font-size: 15px; 
}
.icons {
    display: flex; /* Arrange items in a row */
    align-items: right; /* Align items vertically */
    /* Additional styles for container if needed */
}

/* Style for the login button */
.login-btn {
    padding: 9px; /* Adjust padding as needed */
    font-size: 15px;
    background-color: white; /* Button background color */
    color: black; /* Text color */
    border:1px solid #ccc; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    /* Additional styles for the button */
}
.login-btn:hover {
    background-color: blue; /* Button background color on hover */
}
section{
    padding: 20px;
}
.home{
    display: flex;
    align-items: center;
    min-height: 150px;
    background-size: cover;
    background-position: center;
}
.home img{
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.content{
    position: absolute;
    max-width: 40rem;
}
.content h2{
    font-size: 4.5rem;
    color: rgb(58, 47, 47);
    font-weight: bold;
}
.content h3{
    font-size: x-large;
    color: whitesmoke;
    font-weight:500
}
.content span{
    font-size: x-large;
    color: #145F8B;
    padding: 1rem 0;
    line-height:normal;
}
.heading{
    text-align: center;
    font-size: larger;
    color:#145F8B;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #6EC1E4;
}
.btn{
    padding: 4px; /* Adjust padding */
    background-color: rgb(58, 47, 47); /* Button background color */
    color: whitesmoke; /* Button text color */
    border-radius: 5px;
    font-size: medium;
}
.btn:hover {
    background-color:#145F8B;
}
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: black;
}
footer {
    background-color: #145F8B;
    padding: 40px;
    text-align: center;
  }
  
.footer-content {
    max-width: 130px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(58, 47, 47);
  }

@media (max-width:700px){
}

    