
*{
    padding: 0; margin: 0;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
   background-color: white;
   height: 110px;
   width: 100%;
}
img.logo { 
    position: absolute;
    padding: 0 100px;
    top: 10px;
}
nav .title{
    text-align: center;
    padding: 18px 0;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0 23px;
    top: -10px;
}
nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
a.active,a:hover{
background-color: gray;
transition: .5s;
}
.search p input, .login-btn{
  position: absolute;
  margin-top: -60px;
  border: none;
  outline: none;
  padding: 8px; 
  border: 1px solid rgb(149, 148, 148); /* Border style */
  font-size: 15px;
}
.login-btn:hover {
  background-color: gray; /* Button background color on hover */
  transition: .5s ease;
  cursor: pointer;
}
.icons img{
  position: absolute;
  margin-top: -60px;
  right: 25px;
  cursor: pointer;
}
#home{
  background: url(./../images/Salecover.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.content h1{
    position: absolute;
    left: 140px; 
    top: 270px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.content p{
    color: rgb(42, 41, 41);
    position: absolute;
    top: 380px;
    left: 143px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 #home .button {
  padding: 10px;
  border: 2px solid;
  width: 120px;
  text-align: center;
  position: absolute;
  left: 145px;
  top: 480px;
  cursor: pointer;
}
.button:hover {
   background-color: black;
   transition: background-color 0.3s ease;
}
#products{
    text-align: center;
}
#products h5{
    margin-top: 100px;
}
#products h2{
    margin-top: 15px;
    margin-bottom: 50px;
}
#products .containers{
    margin-left: 80px;
}
#products .containers .box{
    width: 250px;
    height: 350px;
    margin: 50px;
    float: left;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 10px 20px rgb(43, 35, 35);
}
.box:hover{
    box-shadow: none;
  }
.box .image{
    width: 100%;
    position: relative;
    top: 20px;
}
.box .overlay{
    position: absolute;
    width: 250px;
    height: 350px;
    top: -20px;
    cursor: pointer;
    opacity: 0;
    background-color:#949494e7;
    transition: opacity 0.5s ease-in-out;
  }
.overlay h4{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
  }
p {
    margin-block-start: 30px;
    font-size: 15px;
    color: black;
}
.image:hover .overlay {
  opacity: 1;
}
h3{
  font-size: 20px;
}
.price{
  margin-block-start: 15px;
}
.star{
  font-size: 15px;
  color: rgb(243, 181, 25);
  margin-top: 10px;
}
.icon{
  display: inline-block;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s, color 0.3s;
  width: 155px;
  margin-top: 10px;
  height: 8px;
  cursor: pointer;
}
.icon .add{
  color: #ffffff;
}
.icon .add:hover{
  background-color: grey;
  transition: .5s ease;
}
.Feature{
    margin-block-start: 38%;
    margin-block-end: 100px;
 }
.about{
    width: 83rem;
    height: 580px;
    margin-inline-start: 100px;
}
.Feature .about h1{
    position: absolute;
    right: 470px;
    top: 104.9rem;
  }
.Feature .about .contents{
    color: black;
  }
.Feature .about .contents .par{
    position: absolute;
    right: 200px;
    line-height: 28px;
    font-size: 15px;
    top: 107rem;
  }
.learn{
 padding: 10px;
 background-color: transparent;
 border: 2px white solid;
 position: absolute;
 top: 129rem;
 right: 570px;
}
.learn:hover{
    background-color: rgb(0, 0, 0); 
    transition: 0.5s ease;
}
.ourstory{
    position: absolute;
    top: 99.1rem;
  }
.Features{
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    background-color: white;
}
.Features .title-text h2{
    position: absolute;
    left: 100px;
    top: 143rem;
}
.Features .text2 p{
    position: absolute;
    left: 120px;
    top: 143rem;
}
.read{
    padding: 10px;
    background-color: transparent;
    border: 1px black solid;
    position: absolute;
    top: 175rem;
    left: 120px;
  }
.read:hover {
    background-color: gray; 
    transition: 0.5s ease;
}
.vertical-line {
  height: 585px;
  border-right: 2px solid #333; 
  margin-right: 850px;
}
.fastdelievry{
 position: absolute;
 right: 740px;
 top: 142rem;
}
.fig-caption1{
  position: absolute;
  right: 540px;
  top: 143.5rem;
}
.textt1{
  position: absolute;
  right: 125px;
  top: 144rem;
}
.Guaranteed{
 position: absolute;
 right: 740px;
 top: 152.5rem;
}
.fig-caption2{
  position: absolute;
 right: 570px;
 top: 152.5rem;
}
.textt2{
  position: absolute;
  right: 160px;
  top: 153rem;
}
.returnPolicy{
  position: absolute;
 right: 730px;
 top: 161.5rem;
}
.fig-caption3{
  position: absolute;
 right: 370px;
 top: 162.5rem;
}
.textt3{
  position: absolute;
  right: 154px;
  top: 163rem;
}
.freeinstallation{
  position: absolute;
 right: 740px;
 top: 173rem;
}
.fig-caption4{
  position: absolute;
 right: 490px;
 top: 172.5rem;
}
.textt4{
  position: absolute;
  right: 150px;
  top: 173rem;
}

#banner{
  margin-top: 100px;
}
#banner .bannerimg{
  width: 100%;
  height: 95vh;
}
.discount{
  position: absolute;
  top: 197rem;
  left: 30rem;
}
.time{
  position: absolute;
  top: 203.5rem;
  left: 42rem;
}
.img-text h1{
  position: absolute;
  top: 204rem;
  left: 29rem;
}
.txt{
  position: absolute;
  top: 209.3rem;
  left: 32.5rem;
  font-weight: bold;
  background-color: #ccc;
}
.code{
  position: absolute;
  top: 211rem;
  left: 43rem;
  background-color: black;
  width: 200px;
}
.off{
  position: absolute;
  top: 210rem;
  left: 60rem;
}
.heading{
  margin-top: 100px;
}
.heading h2{
margin-top: 10px;
}
.testimonials_grid{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 100px;
}
.card{
  padding: 25px;
  display: grid;
  gap: 15px;
  background-color: white;
  box-shadow: 0 15px black;
}
.card i{
    font-size: 30px;
    color: black;
    margin-left: 150px;
}
.card p{
  font-size: 17px;
  font-weight: 500;
}
.card hr{
  width: 90px;
  margin: auto;
  color: gray;
}
.card img{
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 100%;
}
.card .name{
  font-size: 15px;
  font-weight: 400;
  color: rgb(47, 46, 46);
}
.footer{
  width: 100%;
  background-color: white;
  padding: 70px 0;
  height: 30vh;
  margin-top: 130px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col h3{
  margin-bottom: 40px;
  margin-left: 150px;
}
ul li {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 150px;
}
ul li a{
  color: black;
}
#col, texxt{
  position: absolute;
  right: 300px;
}
form{
  padding-bottom: 5px;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 35px;
  margin-top: 20px;
}
input, button{
  border: none;
  font-size: 18px;
}
.social-icons .fab{
width: 40px;
line-height: 100px;
font-size: 25px;
cursor: pointer;
}